:root{
    --color-black: #171718;
    --color-white: #FCFCFE;
    --color-blue: #002586;
    --color-lightGrey: rgba(23, 23, 24, 0.60);
    --color-Grey: #6c6c6c;
    --color-pink: #FE7CC0;
    --color-red: #D74040;
}