.aboutus{
    height: 1300px;
    .container{
        .content{
            span{
                color: var(--black, #171718);
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}