.content__contacts{
    margin-top: -20px;
    max-width:  450px;
    h6{
        font-size: 14px;
        font-weight: 600;
    }

    p{
        font-size: 14px;
        font-weight: 400;
    }
}

.card{
    margin-right:70px;
}